<!DOCTYPE html>
<!--
    html header of template
***************************************
    @ANATELOPE CI WEB
    web application of continue System
blueantelope@gmail.com
blueantelope 2014-01-26
-->

{% load staticfiles %}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="blueantelope">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="maximum-scale=1.0,width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="keywords" content="{{keywords}}">
    <meta name="description" content="{{description}}">
    <title>{{title}}</title>
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static common_css %}">
    <link rel="stylesheet" type="text/css" href="{% static outer_css %}">
    <link rel="stylesheet" type="text/css" href="{% static fontawesome_css %}">
    {% endblock %}
</head>
<body>
